#plugin-client-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#plugin-client-modal-loader {
    position: absolute;
}
.application-table {
    width: 100%;
    overflow-x: auto;
}
.job-status-dropdown {
    width: 130px;
}
.job-status-dropdown.hiring {
    background-color: orange;
    color: white;
}

.job-status-dropdown.hired {
    background-color: green;
    color: white;
}

.job-status-dropdown.complete {
    background-color: red;
    color: white;
}

.job-status-dropdown {
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
}

.job-status-dropdown option {
    color: black;
}

.elementor-element-11a7213 {
    width: unset !important;
}
