#plugin-client-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#plugin-client-modal-loader {
    position: absolute;
}
.application-table {
    width: 100%;
}
.application-table td {
    white-space: nowrap;
}
.application-table tr {
    position: relative;
}
.restrict-reviews-stars {
    display: flex;
    gap: 5px;
}
.job-status-dropdown.hiring,
.job-status.hiring {
    background-color: orange;
    color: white;
}

.job-status-dropdown.hired,
.job-status.hired {
    background-color: green;
    color: white;
}

.job-status-dropdown.complete,
.job-status.complete {
    background-color: red;
    color: white;
}

.job-status-dropdown {
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
}

.job-status-dropdown option {
    color: black;
}
.jet-profile-menu__item-link[data-count]::before {
    position: absolute;
    content: attr(data-count);
    color: #ffffff;
    right: -15px;
    background-color: red;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-unviewed-count::before {
    display: none !important;
}
.filter-form {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-form label {
    margin-right: 10px;
    font-weight: bold;
}

.filter-form select,
.filter-form input[type="submit"] {
    padding: 5px;
    margin-right: 10px;
}

.filter-form input[type="submit"] {
    background-color: #0073aa;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.filter-form input[type="submit"]:hover {
    background-color: #005177;
}
.filter-btn {
    margin-top: 10px;
}

.application-table {
    width: 100%;
    border-collapse: collapse;
}

.application-table th,
.application-table td {
    padding: 10px;
    text-align: left;
}
.application-table td:not(:nth-child(4)) {
    width: 12%;
    vertical-align: middle;
    word-break: break-word;
    white-space: normal;
}

.application-table th:nth-child(4),
.application-table td:nth-child(4) {
    vertical-align: middle;
    width: 52%;
    word-break: break-word;
    white-space: normal;
}
.feedback-table td:not(:nth-child(3)),
.feedback-received-table td:not(:nth-child(3)) {
    width: 12%;
    vertical-align: middle;
    word-break: break-word;
    white-space: normal;
}

.feedback-table th:nth-child(3),
.feedback-received-table td:nth-child(3) {
    vertical-align: middle;
    width: 52%;
    word-break: break-word;
    white-space: normal;
}
.has-client-role #review-experience,
.has-client-role #review-qualification {
    display: none !important;
}

