#plugin-client-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#plugin-client-modal-loader {
    position: absolute;
}
.application-table {
    width: 100%;
}
.application-table td {
    white-space: nowrap;
}
.application-table tr {
    position: relative;
}
.restrict-reviews-stars {
    display: flex;
    gap: 5px;
}
.job-status-dropdown {
    width: 130px;
}
.job-status-dropdown.hiring,
.job-status.hiring {
    background-color: orange;
    color: white;
}

.job-status-dropdown.hired,
.job-status.hired {
    background-color: green;
    color: white;
}

.job-status-dropdown.complete,
.job-status.complete {
    background-color: red;
    color: white;
}

.job-status-dropdown {
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
}

.job-status-dropdown option {
    color: black;
}
.jet-profile-menu__item-link[data-count]::before {
    position: absolute;
    content: attr(data-count);
    color: #ffffff;
    right: -15px;
    background-color: red;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-unviewed-count::before {
    display: none !important;
}
